/* General Settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Commons */
.brand{
    font-size: 12px;
    font-weight: 200;
}

.name{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.price{
    color: red;
    font-size: 12px;
    font-weight: bold;
}

.discounted-price{
    font-size: 12px;
    font-weight: 200;
    text-decoration: line-through
}
.discount{
    position: absolute;
    left: 0;
    bottom: 70px;
    color: white;
    font-size: 12px;
  
}

.discount-amount{
    background: red;
    padding: 2px;
}

.discount > span:last-child{
    background: green;
    padding: 2px;
}
    


/* Card Settings */
.container{
    padding: 15px 50px 10px; 
    width: 900px;
    height: 900px;
    margin: 20px auto;
}
.product{
    width: 33%;
    display: inline-block;
    position: relative;
    
}
.product img{
    width: 100%;

}