/* General Settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Card Settings */
.container{
    padding: 15px 50px 10px; 
    width: 900px;
    height: 900px;
    margin: 20px auto;
    background: red;
}
.product{
    width: 33%;
    display: inline-block;
    
}
.product img{
    width: 100%;

}